# Week 3 
### Macheine learning

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import root_mean_squared_error, r2_score

In [5]:
df = pd.read_csv('house_price_dataset.csv')
df.head()

   Id  LotArea Street Neighborhood  ...  GarageCars  PavedDrive PoolArea  SalePrice
0   1     8450   Pave      CollgCr  ...           2           Y        0     208500
1   2     9600   Pave      Veenker  ...           2           Y        0     181500
2   3    11250   Pave      CollgCr  ...           2           Y        0     223500
3   4     9550   Pave      Crawfor  ...           3           Y        0     140000
4   5    14260   Pave      NoRidge  ...           3           Y        0     250000

[5 rows x 14 columns]

In [6]:
print(df.isnull().sum())

Id              0
LotArea         0
Street          0
Neighborhood    0
YearBuilt       0
YearRemodAdd    0
RoofStyle       0
FullBath        0
HalfBath        0
BedroomAbvGr    0
GarageCars      0
PavedDrive      0
PoolArea        0
SalePrice       0
dtype: int64